@font-face {
    font-family: 'Quicksand_Dash';
    src: url('/fonts/quicksand/Quicksand_Dash.otf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Quicksand-Light';
    src: url('/fonts/quicksand/Quicksand-Light.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face{
	font-family: 'Quicksand-Bold';
	src: url('/fonts/quicksand/Quicksand-Bold.otf');
  font-weight: normal;
  font-style: normal;
}
@font-face{
	font-family: 'Comfortaa-regular';
	src: url('/fonts/Comfortaa/Comfortaa_Regular.ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face{
	font-family: 'Comfortaa-thin';
	src: url('/fonts/Comfortaa/Comfortaa_Thin.ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face{
	font-family: 'fancypants';
	src: url('/fonts/fancypants/FancyPants-webfont.ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face{
	font-family: 'diner-obese';
	src: url('/fonts/diner/Diner-Obese-webfont.ttf');
  font-weight: normal;
  font-style: normal;
}

html{
    height: 100%;
    overflow-x: hidden;
}

.curtains{
    width: 100%;
    z-index:1;
    position:relative;
}

.curtains>li{
    -webkit-transform:translateZ(0);
    background: white;
    position: fixed;
    display:block;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    overflow: hidden;
    z-index:1;
}
.curtains>li.hidden{display:none;}
.curtains>li:first-child{z-index:2;}


.flex{
  display: flex;
}

.intro {
    font-family: "Quicksand_Dash";
    margin-left: 12%;
    margin-top: 6%;
    font-size: 6vw;
}

@media (max-width:480px) {
  .intro{
    margin-left: 6%;
  }
}

li.cover.flex.current {
    display: flex;
    /*flex-direction: column;
    align-items: flex-end;*/
}

div#arrow {
    height: 27%;
    width: 6%;
    position: fixed;
    bottom: -15vh;
    left: 46%;
}
div#cover-arrow {
    height: 27%;
    width: 6%;
    position: fixed;
    bottom: -15vh;
    left: 46%;
}

img#down{
    max-width: 100%;
    /*-webkit-animation: bounce 2s infinite ease-in-out;*/
}

#portrait-container {
    width: 511px;
    height: 100%;
    position: absolute;
    right: -11%;
    text-align: center;
    /* margin-left: 41%; */
}

.convo-wrapper.flex {
    flex-direction: row;
    align-items: center;
    /* justify-content: flex-start; */
    /* float: inherit; */
}
div#like {
    position: fixed;
    top: 38%;
    left: 20%;
}

.like{
  display: none;
  /*font-family: "fancypants";*/
font-family: 'diner-obese';
font-size: 9vw;
letter-spacing: 2vw;
margin-left: -55px;
}

.make{
  font-family: monospace;
  font-size: 3vw;
}

#seeMore {
    font-family: 'Quicksand_Dash';
    position: fixed;
    top: 92vh;
    right: 4%;
}


@media (max-width: 480px){
  #seeMore {
  top: 65vh;
  }
}
@media (max-width: 800px){
  #seeMore {
  top: 69vh;
  }
}

img.flex-item.selfies {
    position: absolute;
    left: -130px;
    top: 37px;
    display: none;
}
img#bulb {
    position: absolute;
    left: 22%;
    top: -2%;
}

@-webkit-keyframes bounce {
	0%, 20%, 60%, 100%  { -webkit-transform: translateY(0); }
    40%  { -webkit-transform: translateY(-20px); }
	80% { -webkit-transform: translateY(-10px); }
}
/* Demo */
.magnific-gallery
{
	list-style: none;
}

.magnific-gallery li
{
	float: left;
	height: 100px;
}

.magnific-gallery img
{
	height: 100%;
}

/* Overlay */
.mfp-example .mfp-container .mfp-content-container
{
	background-color: #fff;
}

/* Image type */
.mfp-example .mfp-container.mfp-image-holder .mfp-img
{
	padding: 0;

	border: 12px solid #fff;
}

.mfp-example .mfp-container.mfp-image-holder .mfp-figure:after
{
	display: none;
}

/* Image type - .mfp-table class added by the extension */
.mfp-example.mfp-table .mfp-container.mfp-image-holder .mfp-figure > figure
{
  display: table;
}

.mfp-example.mfp-table .mfp-container.mfp-image-holder .mfp-header
{
	display: table-caption;
	caption-side: top;
}

/* Nested tables - only one caption per table is possible */
.mfp-example.mfp-table .mfp-container.mfp-image-holder .mfp-footer
{
	display: table-row;
}

.mfp-example.mfp-table .mfp-container.mfp-image-holder .mfp-figcaption
{
	display: table;
	width: 100%;
}

.mfp-example.mfp-table .mfp-container.mfp-image-holder .mfp-bottom-bar-container
{
	display: table-caption;
	caption-side: top;
}
/* Image type end */

.mfp-example .mfp-container .mfp-top-bar
{
	padding: 10px 50px 10px 20px;
	margin-top: 70px; /* decoration always visible */

	background: #539daa url(http://i1232.photobucket.com/albums/ff372/Marcin_Gil/magnific%20example/header-bg.png) repeat;
	text-align: center;

	position: relative;
}

.mfp-example .mfp-container .mfp-top-bar .mfp-title
{
	max-height: 92px;
	padding-right: 0;

	font-family: Courgette, sans-serif;
	font-size: 43px;
	line-height: 46px;
	color: #fff;
	text-align: center;
	word-break: break-all;

	overflow: hidden;
}

.mfp-example .mfp-container .mfp-top-bar .mfp-decoration
{
	position: absolute;
	left: -28px;
	top: -69px;

	width: 182px;
	height: 98px;

	background: url(http://i1232.photobucket.com/albums/ff372/Marcin_Gil/magnific%20example/header-decoration.png) no-repeat;
}

.mfp-example .mfp-container .mfp-bottom-bar
{
	padding: 0 12px;
	margin-top: 0;
	margin-bottom: 125px; /* decoration always visible */
	box-sizing: border-box;

	background-color: #fff;

	position: relative;
}

.mfp-example .mfp-container .mfp-bottom-bar .mfp-description
{
	font-size: 12px;
	line-height: 14px;

	max-height: 28px;
	overflow: hidden;
}

.mfp-example .mfp-container .mfp-bottom-bar .mfp-decoration
{
	position: absolute;
	left: 0;
	bottom: -130px;

	width: 100%;
	height: 130px;

	background: url(http://i1232.photobucket.com/albums/ff372/Marcin_Gil/magnific%20example/bottom.png) repeat-x;
}

.mfp-example .mfp-container .mfp-bottom-bar .mfp-counter
{
	position: static;
	display: block;
	width: 100%;
	margin-top: -5px;

	text-align: center;
	color: #999;
}

.mfp-example .mfp-container .mfp-close
{
	text-indent: 200px;
	overflow: hidden;

	right: 0;
	top: 0;

	height: 100%;
	width: 60px;

	background: url(http://i1232.photobucket.com/albums/ff372/Marcin_Gil/magnific%20example/close.png) no-repeat center center;
}

/* Overlay fadeIn animation */
.mfp-example.mfp-with-zoom .mfp-container,
.mfp-example.mfp-with-zoom.mfp-bg
{
	opacity: 0;
	-webkit-backface-visibility: hidden;
	/* ideally, transition speed should match zoom duration */
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}

.mfp-example.mfp-with-zoom.mfp-ready .mfp-container
{
	opacity: 1;
}
.mfp-example.mfp-with-zoom.mfp-ready.mfp-bg
{
	opacity: 0.8;
}

.mfp-example.mfp-with-zoom.mfp-removing .mfp-container,
.mfp-example.mfp-with-zoom.mfp-removing.mfp-bg
{
	opacity: 0;
}

/* Overlay controls */
.mfp-example .mfp-arrow
{
	background: url(http://i1232.photobucket.com/albums/ff372/Marcin_Gil/magnific%20example/arrows.png) no-repeat center 30px;
}

.mfp-example .mfp-arrow:hover
{
	background-position: center -370px;
}

.mfp-example .mfp-arrow.mfp-arrow-right
{
	background-position: center -170px;
}

.mfp-example .mfp-arrow.mfp-arrow-right:hover
{
	background-position: center -580px;
}

.mfp-example .mfp-arrow:before,
.mfp-example .mfp-arrow:after,
.mfp-example .mfp-arrow .mfp-b
.mfp-example .mfp-arrow .mfp-a
{
	display: none;
}

@media only screen and (max-width: 1280px)
{
	/* Overlay */
	.mfp-example .mfp-container .mfp-top-bar
	{
		line-height: 72px;
	}

	.mfp-example .mfp-container .mfp-top-bar .mfp-title
	{
		max-height: 72px;
		font-size: 33px;
		line-height: 36px;
		display: inline-block;
		vertical-align: middle;
	}
}


@media only screen and (max-width: 768px)
{
	/* Overlay */
	.mfp-example .mfp-container .mfp-top-bar
	{
		margin-top: 49px; /* decoration always visible */
		line-height: 52px;
	}

	.mfp-example .mfp-container .mfp-top-bar .mfp-title
	{
		max-height: 52px;
		font-size: 23px;
		line-height: 26px;
	}

	.mfp-example .mfp-container .mfp-top-bar .mfp-decoration
	{
		left: -19px;
		top: -48px;

		width: 128px;
		height: 68px;

		background-size: 128px 68px;
	}

	.mfp-example .mfp-container .mfp-bottom-bar
	{
		margin-bottom: 86px; /* decoration always visible */
	}

	.mfp-example .mfp-container .mfp-bottom-bar .mfp-decoration
	{
		bottom: -91px;

		width: 100%;
		height: 91px;

		background-size: auto 91px;
	}
}

@media only screen and (max-width: 480px)
{
	/* Overlay */
	.mfp-example .mfp-container .mfp-top-bar
	{
		margin-top: 35px; /* decoration always visible */
		line-height: 42px;
	}

	.mfp-example .mfp-container .mfp-top-bar .mfp-title
	{
		max-height: 42px;
		font-size: 18px;
		line-height: 21px;
	}

	.mfp-example .mfp-container .mfp-top-bar .mfp-title
	{
		max-height: 42px;
		font-size: 18px;
		line-height: 21px;

		display: inline-block;
		vertical-align: middle;
	}

	.mfp-example .mfp-container .mfp-top-bar .mfp-decoration
	{
		left: -14px;
		top: -34px;

		width: 91px;
		height: 49px;
		background-size: 91px 49px;
	}

	.mfp-example .mfp-container .mfp-bottom-bar
	{
		margin-bottom: 62px; /* decoration always visible */
	}

	.mfp-example .mfp-container .mfp-bottom-bar .mfp-decoration
	{
		bottom: -65px;

		width: 100%;
		height: 65px;

		background-size: auto 65px;
	}

	.mfp-example .mfp-container .mfp-bottom-bar .mfp-counter
	{
		margin-top: -3px;
	}
}

/*img#bulb {
    top: 40vh;
    position: relative;
}*/

/*img.flex-item {
    width: 24vw;
    height: 100%;
}*/
/*.flex-item {
  height: 10vh;
  width: 10vh;
  background-color: #29171A;
  border: 3px solid #D02644;
}*/

.container-fluid.page-view-wrapper {
    height: 100%;
    margin: 3% 0% 0% 4%;
}
div#heroes-wrapper {
    height: 80%;
}
div#hero-image {
    height: 80%;
    margin-top: 30px;
}
div#popup-gallery-container {
    height: 20%;
    margin: 50px 3px 0px 3px;
}
div#project-writeup {
    height: 80%;
    margin-left: -120px;
}
img.thumbnails {
    width: 125px;
}
@media only screen and (max-device-width: 480px) {
  .page-view-wrapper {
    max-height: 100vh;
  }
}
/*h1.project-title {
    margin-left: 17.5%;
    font-size: 6em;
}*/

div#technologies-used-wrapper {
    margin-top: 80%;
}
ul.tech-list {
    display: inline-flex;
    margin-top: 5%;
}
li.techs {
    list-style: none;
}
img.techs {
  max-height: 20%;
}

h1#project-title {
    /* text-decoration: underline; */
    font-size: 3vw;
    font-family: 'diner-obese';
    letter-spacing: 2vw;
    border: 4px solid;
    padding-left: 30px;
    /* padding-right: 183px; */
}

div#right-side-wrapper {
    width: 34%;
    margin-left: 9%;
}
/*div#right-side-wrapper {
    width: 25%;
    margin-left: -38%;
    margin-top: 39%;
}*/
/*.writeup-wrapper {
    display: -webkit-box;
}*/

#wrapper {
	width: 660px;
	height: 310px;
	margin: -155px 0 0 -330px;
	position: absolute;
	top: 50%;
	left: 50%;
}
#wrapper:after {
	content: url(img/shadow.png);
	position: absolute;
	bottom: -40px;
	left: 5px;
	z-index: 1;
}
#carousel {
	width: 550px;
	height: 310px;
	overflow: hidden;
	position: relative;
	z-index: 2;
}
#carousel img {
	display: block;
	float: left;
}
#pager {
	width: 100px;
	height: 310px;
	overflow: hidden;
	position: absolute;
	top: 0;
	right: 0;
}
#pager div {
	height: 80px;
	width: 100px;
}
#pager img {
	cursor: pointer;
	display: block;
	height: 70px;
	width: 100px;
	margin-bottom: 10px;
	float: left;
}

/*ul.side-nav {
    background-color: black;
    color: white;
    position: fixed;
    bottom: 100px;
}*/

ul.side-nav.inactive {
    background-color: black;
    color: white;
    position: fixed;
    left: -8.9%;
    width: 9%;
    height: 904px;
    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    -o-transition-duration: 0.8s;
}

ul.side-nav.active {
    background-color: black;
    color: white;
    position: fixed;
    left: 0;
    width: 9%;
    height: 100%;
    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    -o-transition-duration: 0.8s;
}

li.nav_to_page:not(.tab-li) {
    margin-top: 30px;
    /* margin-top: 11px; */
    list-style: none;
    font-family: 'diner-obese';
    font-size: 131%;
    letter-spacing: 2px;
    position: relative;
    right: 13px;
}

.tab {
    position: relative;
    left: 40%;
    background-color: black;
    padding: 20px 15px;
    text-align: right;
    border-radius: 7%;
}

.tab:hover {
    cursor: pointer;
    color: indianred;
}

li.nav_to_page.tab-li {
    list-style: none;
}

@media only screen and (max-width: 800px) {

   ul.side-nav.active {
      left: -30%;
    }
   ul.side-nav.inactive{
      left: -30%;
    }

}


a {
    text-decoration: none;
    color: white;
}

div#projects_banner {
    display: inline-flex;
    /* width: 20px; */
}

img.projects:not(.project_hero) {
    /* height: 38%; */
    width: 45%;
    margin-top: 25px;
    box-shadow: 12px 13px 43px 0;
    border-radius: 5px;
    margin-right: 14px;
}

.project_hero {
    max-height: 400px;
    width: 66%;
    margin-top: 30px;
    margin-left: -1px;
}
.project_details {
    width: 30%;
     font-size: 1.5vw;
    margin-left: 70%;
    margin-top: -35%;
}

@media only screen and (max-width: 1200px) {
  .project_details{
    margin-top: -45%;
    margin-left: 80%;
  }
}

@media only screen and (max-width: 940px) {
  .project_details{
    margin-top: -51%;
    margin-left: 75%;
  }
}

@media only screen and (max-width: 620px){
  .project_details {
      margin-top: -54%;
      margin-left: 75%;
  }
}
@media only screen and (max-width: 450px){
  .project_details {
      margin-top: -72%;
      margin-left: 75%;
  }
}
img#tech_icon {
    max-height: 70px;
    position: relative;
    left: 125px;
    width: 16%;
}
.project_link {
    margin-top: 20px;
}

p.summary {
    font-family: 'Comfortaa-regular';
    margin-top: 20px;
    color: white;
    width: 66%;
}

.view_it {
  color: #BEC3F1;
  font-size: 1vw;
}

.container.contact_me {
    margin-top: 80px;
    width: 80%;
}

i.fa.fa-bars {
    position: relative;
    left: 8px;
}

/*all li's now in a row*/



.project_page {
    height: 100vh;
    width: 100%;
    /*display: inline-block;*/
    position: fixed;
    z-index: -1;
    /*left: 100%;*/
    left: 0;
}

.project_page.one{
  background-color: red;
}
.project_page.two{
  background-color: green;
}
.project_page.three{
  background-color: blue;
}
